*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    transition: all 1s;
 }
ol,ul{
    list-style: none;
}
.nav{
    position:fixed;
    top:10px;
    left:10px;
}
.nav>li{
    float: left;
    padding:10px 20px;
    
}
canvas{
    background: white;
    
}




.active1 {
    width: 2.5em; height: 2.5em;
    
}
